<!DOCTYPE html>
<html>
<head>
    <%-include('../partials/head')%>
    <link href ="/css/product-edit.css", rel="stylesheet">
    <title>NFTART - Edición de Producto</title>
</head>

<body>

    <%-include('../partials/header')%>

    <main>
        
        <!-- PRODUCTO EDICIÓN -->
        <section class='main_box'>
            <form action='/product/edit' method='post'>
                <div class='main_content'>
                    <label class='title'>Estas editando el producto <%=producto.nombre%></label>
                    <div>
                        <label for="image" class="labels">Expresión artística del NFT:</label>
                        <input id="NFT_image" name='NFT_image' type="file">
                    </div>
                    <input 
                        id="NFT_name" 
                        name='NFT_name' 
                        placeholder='<%=producto.nombre%>' 
                        type="text" 
                        class="form_box"
                    />
                    <input 
                        id="NFT_id" 
                        name="NFT_id" 
                        placeholder='<%=producto.id%>' 
                        type="number" 
                        readonly="readonly" 
                        class="form_box"
                    >
                    <input 
                        id="NFT_author" 
                        name='NFT_author' 
                        placeholder='<%=producto.autor%>' 
                        type="text" 
                        class="form_box"
                    >
                    <textarea 
                        id="NFT_description" 
                        name='NFT_description' 
                        class="form_box_textarea"
                        placeholder="<%=producto.descripcion%>"
                    ></textarea>
                    <input 
                        id="NFT_theme" 
                        name='NFT_theme' 
                        class="form_box"
                        placeholder='<%=producto.tematicaAutor%>'
                    />
                    <input 
                        id="ETH_price" 
                        name='ETH_price' 
                        type="number" 
                        placeholder='<%=producto.precioUSD%>' 
                        class="form_box"
                    />
                    <input 
                        id="USD_price" 
                        name='USD_price' 
                        type="number" 
                        placeholder='<%=producto.precioETH%>' 
                        class="form_box"
                    />
                    <button id="reset_button" type="reset">RESTABLECER</button>
                    <button id="submit_button" type="submit">GUARDAR CAMBIOS</button>
                </div>
            </form>
        </section>
    </main>

    <%-include('../partials/footer')%>

</body>
</html>