<!DOCTYPE html>
<html>
<head>
    <%-include('../partials/head')%>
    <link href ="/css/product-marketplace.css", rel="stylesheet">
    <title>NFTART - Marketplace</title>
</head>

<body>

    <%-include('../partials/header')%>
    
    <!-- Banner por categoría -->
    <div class="container_banner">
        <img src="/img/BANNER_CATEGORIA_ARTE.jpg" 
        alt="Banner por categoría"
        class="banner-category">
    </div>

    <div class="busqueda_producto">
        <div class="container_div_filtro_categoria">
            <li id="filtros"> CATEGORIAS </li>
            <input class="input_sec" value="ARTE">
            </i></input>
        </div>
        
        <div class="container_div_filtro_precio">
            <li id="filtros"> PRECIO (US$) </li>
            <input class="input_sec" type="number" placeholder="MIN"></input>
            <input class="input_sec" type="number" placeholder="MAX"></input>
        </div>
        <div class="container_div_filtro_pago">
        <li id="filtros"> MEDIO DE PAGO</li>
        <input class="input_sec" value="CRIPTOS" ></input>
        </div>
    </div>

    <!-- Main: Vitrina de producto -->
    <main>
        <section class="container_vitrina_producto">
            <div class="products">

                <%for(let p of productos){%>

                <a class="container_product_desc" onclick="set('<%=p.nombre_nft%>')">
                    <img src="/img/PRODUCTOS/<%=p.categoria+'_'+p.id+'.jpg'%>" alt="NFT" class="product_img">
                    <div class="main-article">
                        <div>
                            <h2 class="name_product"><%=p.nombre_nft%></h2>
                            <p class="autor"><%=p.autor%></p>
                        </div>
                        <div class="precios">
                            <p class="price">$<%=p.precioUSD%></p>
                            <p class="price_cripto"><%=p.precioETH%> ETH</p>
                        </div>
                        <div class="carrito_corazon">
                            <i class="fas fa-heart"></i>
                            <i class="fas fa-cart-arrow-down"></i>
                        </div>
                    </div>
                </a>
                <script>let name = '<%-p.nombre%>'</script>
                <%}%>
            </div>  
        </section>
    </main>

    <%- include('../partials/footer') %>

    <script src="/js/Cart/cart.js"></script>
</body>
</html>