<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../partials/head')%>
    <link href ="/css/user-edit.css", rel="stylesheet">
    <title>Edición de Usuario</title>
</head>

<body>

    <%-include("../partials/header")%>

    <section class="container_body">
        <section class="container_datos_persona">
            <form class='popUp__Fields' action="/user/edit" method="post">
                <div class="circle">
                    <img src="/img/AVATARES/<%=user.imagen%>" class="ok">
                    <!-- <input
                        name="avatarEdited"
                        value='<%=user.imagen%>'
                        type="file"
                    /> -->
                </div>
                <div>
                <label>Nombre completo</label>
                <input
                    name="nombre_usuario"
                    value='<%=user.nombre_usuario%>'
                    type='text'
                />
                </div>
                <div>
                <label>Nombre de usuario</label>
                <input 
                    name="usuario"
                    value='<%=user.usuario%>'
                    type='text'
                />
                </div>
                <div>
                <label>Correo electrónico</label>
                <input
                    name="email"
                    value='<%=user.email%>'
                    type='email'
                    readonly
                />
                </div>
                <div>
                <label>Fecha de nacimiento</label>
                <input
                    name="fecha_nacimiento"
                    value='<%=user.fecha_nacimiento%>'
                    type='date'
                />
                </div>
                <div>
                    <label>País</label>
                    <select name="pais">
                        <option value="colombia" <%=(user.pais==='colombia') ? 'selected' : ''%>>Colombia</option>
                        <option value="mexico" <%=(user.pais==='mexico') ? 'selected' : ''%>>México</option>
                        <option value="chile" <%=(user.pais==='chile') ? 'selected' : ''%>>Chile</option>
                        <option value="paraguay" <%=(user.pais==='paraguay') ? 'selected' : ''%>>Paraguay</option>
                        <option value="argentina" <%=(user.pais==='argentina') ? 'selected' : ''%>>Argentina</option>
                    </select>
                </div>
                <div class="container_tipo_cuenta">
                    <label>Tipo de cuenta</label>
                    <div class='popUp__Type'>
                        <label>Vendedor</label>
                        <input
                            name="tipo_usuarios"
                            type='checkbox'
                            value="vendedor"
                        />
                        <label>Comprador</label>
                        <input 
                            name="tipo_usuarios"
                            type='checkbox'
                            value="comprador"
                        />
                    </div>
                </div>
                <div>
                <label>Descripción</label>
                <input
                    name="descripcion"
                    value='<%=user.descripcion%>'
                    type='textarea'
                />
                </div>
                <section class='container_registro_redes'>
                    <h4>Sincroniza tus redes sociales:</h4>
                    <i class="fab fa-facebook-square"></i>
                    <i class="fab fa-twitter-square"></i>
                    <i class="fab fa-github-square"></i>
                    <i class="fab fa-instagram-square"></i>
                </section>
                <section class="section_contraseñas">
                    <!-- <p>Validación de contraseña actual para efectuar los cambios</p>
                    <div>
                        <input
                            name="password"
                            placeholder='Contraseña'
                            type='password'
                        />
                    </div>
                    <div>
                        <input
                            name="second_password"
                            placeholder='Repite tu contraseña'
                            type='password'
                        />
                    </div> -->
                    <button type='submit'>Continuar</button>
                    <a href="/"><button type="button">Cancelar</button></a>
                </section>
            </form>
        </section>
    </section>

    <%-include("../partials/footer")%>

</body>
</html>