<!DOCTYPE html>
<html>
<head>
    <%-include('../partials/head')%>
    <link href ="/css/product-edit.css", rel="stylesheet">
    <title>NFTART - Edición de Producto</title>
</head>

<body>

    <%-include('../partials/header')%>

    <main>
        
        <!-- PRODUCTO EDICIÓN -->
        <section class='main_box'>
            <div id="errorsContainer"></div>
            <form id="formulario" action='/product/edit' method='post'>
                <div class='main_content'>
                    <label class='title'>Estas editando el producto <%=producto.nombre%></label>
                    
                    <label  name="id" for="id" class="labels"></label>
                    <input 
                        id="id" 
                        name="id" 
                        value='<%=producto.id%>'
                        placeholder='<%=producto.id%>' 
                        type="number" 
                        readonly="readonly" 
                        class="form_box"
                    >
                    <div>
                        <label for="image" class="labels">Expresión artística del NFT:</label>
                        <input id="imagen" name='imagen' type="file">
                    </div>
                    <label  name="nombre_nft" for="nombre_nft" class="labels">Nombre NFT:</label>
                    <input 
                        id="nombre_nft" 
                        name='nombre_nft' 
                        placeholder='<%=producto.nombre_nft%>' 
                        type="text" 
                        class="form_box"
                    />
                    <label  name="autor" for="autor" class="labels">Autor NFT:</label>
                    <input 
                        id="autor" 
                        name='autor' 
                        placeholder='<%=producto.autor%>' 
                        type="text" 
                        class="form_box"
                    >
                    <label  name="descripcion" for="descripcion" class="labels">Descripción:</label>
                    <textarea 
                        id="descripcion" 
                        name='descripcion' 
                        class="form_box_textarea"
                        placeholder="<%=producto.descripcion%>"
                    ></textarea>
                    <label  name="tematica" for="tematica" class="labels">Tematica:</label>
                    <input 
                        id="tematica" 
                        name='tematica' 
                        class="form_box"
                        placeholder='<%=producto.tematica%>'
                    />
                    <label  name="precio_actual_eth" for="precio_actual_eth" class="labels">Precio Actual ETH:</label>
                    <input 
                        id="precio_actual_eth" 
                        name='precio_actual_eth' 
                        type="number" 
                        placeholder='<%=producto.precio_actual_usd%>' 
                        class="form_box"
                    />
                    <label  name="precio_actual_usd" for="precio_actual_usd" class="labels">Precio Actual USD:</label>
                    <input 
                        id="precio_actual_usd" 
                        name='precio_actual_usd' 
                        type="number" 
                        placeholder='<%=producto.precio_actual_eth%>' 
                        class="form_box"
                    />
                    <button id="reset_button" type="reset">RESTABLECER</button>
                    <button id="submit_button" type="submit">GUARDAR CAMBIOS</button>
                </div>
            </form>
        </section>
    </main>

    <%-include('../partials/footer')%>

<script src="/js/validations/product/product-Edit.validations.js"></script>

</body>
</html>